---
import Layout from "@/layouts/Layout.astro";
import PatternBG from "../PatternBG.astro";
import SecNavbar from "../SecNavbar.astro";
---

<Layout title="blog">
    <SecNavbar />
    <PatternBG>
        <div id="Inicio" class="min-h-[50vh] grid place-content-center">
            <h1 class="font-satoshi font-bold text-6xl">Descubre mis ideas</h1>
        </div>
    </PatternBG>
    <div class="grid grid-cols-5 border-[#e5e7eb] border-t border-b border-opacity-40">
        <div class="border-[#e5e7eb] border-r border-opacity-40">
            
        </div>
        <div class="col-span-4">
            
        </div>
    </div>
</Layout>