---
import Glass from "@/components/Glass.astro"

type Props = {
    hover?: boolean
}

const { hover = true } = Astro.props
let hovertype = ''

if(hover) {
    hovertype = 'hover:text-Eco-20'
} else {
    hovertype = ''
}
---

<button>
    <Glass class={`inline-block p-3 shadow-social-btn px-4 py-2 active:shadow-clear-shadow cursor-pointer active:translate-x-[3px] active:translate-y-[3px] ${hovertype}`}>
        <slot/>
    </Glass>
</button>