---
---

<!-- Slider main container -->
<div class="swiper" style="mask-image: linear-gradient(to right, transparent 0%, black 20%, black 80%, transparent 100%)">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="flex justify-center">
                <img src="/logos/Astro.svg" alt="" class="w-14 h-16">
            </div>
        </div>
        <div class="swiper-slide">
            <div class="flex justify-center">
                <img src="/logos/Js.svg" alt="" class="w-14 h-16">
            </div>
        </div>
        <div class="swiper-slide">
            <div class="flex justify-center">
                <img src="/logos/Ts.svg" alt="" class="w-14 h-16">
            </div>
        </div>
        <div class="swiper-slide">
            <div class="flex justify-center">
                <img src="/logos/Node.svg" alt="" class="w-14 h-16">
            </div>
        </div>
        <div class="swiper-slide">
            <div class="flex justify-center">
                <img src="/logos/Python.svg" alt="" class="w-14 h-20">
            </div>
        </div>
        <div class="swiper-slide">
            <div class="flex justify-center">
                <img src="/logos/Sql.svg" alt="" class="w-14 h-16">
            </div>
        </div>
        <div class="swiper-slide">
            <div class="flex justify-center">
                <img src="/logos/React.svg" alt="" class="w-14 h-16">
            </div>
        </div>
        <div class="swiper-slide">
            <div class="flex justify-center">
                <img src="/logos/NestJS.svg" alt="" class="w-14 h-16">
            </div>
        </div>
    </div>
</div>

<script>
    // import Swiper JS
    import Swiper from 'swiper';
    // import Swiper styles
    import 'swiper/css';

    new Swiper('.swiper', {
        slidesPerView: 5,
        loop: true,
        centeredSlides: true,
        autoplay: {
            delay: 2500,
        },
    });
</script>